@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Poppins&display=swap');
:root {
  --main-color: #6665dd;
}

body {
  font-family: 'Poppins', sans-serif;
}
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
h2 {
  margin-top: 30px;
}

li {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  cursor: pointer;
  padding: 15px;
  border-radius: 15px;
  width: 95%;
  margin: 10px 0px;
}

.active {
  color: var(--main-color);
  background-color: rgb(236, 236, 236);
}

label {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  margin-left: 20px;
}
body {
  margin: 0px;
}

h1,
h2,
button {
  font-family: 'Poppins', sans-serif;
}

input[type='checkbox'] {
  appearance: none;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  height: 20px;
  width: 20px;
  transform: translateY(0.35rem);
}

.container {
  background-color: rgb(236, 236, 236);
  display: grid;
  grid-template-columns: 1.3fr 5fr;
  height: 100vh;
  width: 100vw;
}

.content {
  background-color: rgb(236, 236, 236);
  margin: 0px auto;
  position: relative;
  height: 90vh;
}
.inbox > li {
  margin: 0px;
  font-size: 1rem;
}

#group {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.sidebar {
  padding: 0px 40px;
  background-color: white;
}

.counter {
  color: white;
  margin-left: 20px;
  border-radius: 15px;
  padding: 10px 20px;
  background-color: var(--main-color);
}

.header {
  gap: 10px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.pending {
  display: grid;
  grid-template-columns: minmax(500px, 700px);
  gap: 15px;
}

.task {
  font-size: 1rem;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  font-size: 1.5rem;
  width: 80%;
}

.page {
  display: flex;
  align-items: center;
  gap: 10px;
}

.add-task > input {
  outline: none;
  border: none;
  background-color: whitesmoke;
  height: 50px;
  width: 50%;
  padding: 10px;
  border-radius: 15px;
}

.add-task {
  display: flex;
  justify-content: center;
  gap: 30px;
  position: absolute;
  bottom: 0;
  align-self: center;
  width: 100%;
}
input[type='checkbox']:checked + label {
  text-decoration: line-through;
}
.add-task > button {
  border: none;
  border-radius: 20px;
  color: white;
  box-sizing: border-box;
  padding: 20px;
  background-color: var(--main-color);
}

.buttons {
  display: flex;
  flex-direction: column;
}
#createInput {
  outline: none;
  border: none;
  background-color: whitesmoke;
  height: 20px;
  width: 90%;
  padding: 10px;
  border-radius: 15px;
}

#createButton {
  align-self: center;
  margin: 10px 0px;
  border: none;
  border-radius: 25px;
  color: white;
  box-sizing: border-box;
  padding: 15px;
  width: 80%;
  background-color: var(--main-color);
}

#createProject {
  border: none;
  border-radius: 25px;
  color: white;
  box-sizing: border-box;
  padding: 15px;
  background-color: var(--main-color);
}
