@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Poppins&display=swap');

:root {
  --main-color: #6665dd;
}

body {
  color: #091540;
  font-family: 'Poppins', sans-serif;
}
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
h2 {
  margin-top: 30px;
}

a {
  display: flex;
  justify-content: center;
  gap: 10px;
}

p {
  margin: 0;
  padding: 0;
}
a:visited {
  color: black;
}
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  cursor: pointer;
  padding: 15px;
  border-radius: 15px;
  width: 95%;
  margin: 10px 0px;
}

li > span {
  height: 20px;
  margin-right: 20px;
  fill: #6665dd;
  opacity: 0;
}

li:hover span {
  transition: opacity 0.5s;
  opacity: 1;
}

li:hover {
  background-color: whitesmoke;
}

.active {
  color: var(--main-color);
  background-color: rgb(236, 236, 236);
}

label {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 1.3rem;
  margin-left: 10px;
}
body {
  margin: 0px;
}

h1,
h2,
button {
  font-family: 'UlagadiSansRegular';
}
button {
  cursor: pointer;
}

span {
  color: #6665dd;
  font-size: 1rem;
}

input[type='checkbox'] {
  appearance: none;
  color: black;
  border: 1px solid black;
  border-radius: 50px;
  height: 20px;
  width: 20px;
}

.container {
  background-color: rgb(236, 236, 236);
  display: grid;
  grid-template-columns: 1.3fr 5fr;
  height: 100vh;
  width: 100vw;
}

.content {
  background-color: rgb(236, 236, 236);
  margin: 0px 10%;
  padding: 20px;
  position: relative;
  height: 90vh;
}
.inbox > li {
  display: flex;
  margin: 0px;
  font-size: 1rem;
  margin-bottom: 10px;
  align-items: center;
  justify-content: flex-start;
}

.inbox > li > svg {
  fill: #6665dd;
  size: 20px;
}

#group {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 0px;
  padding: 0px;
}

.sidebar {
  position: relative;
  padding: 0px 10px 0px 40px;
  background-color: white;
}
.sidebar > p {
  font-size: 0.7rem;
  position: absolute;
  bottom: 50px;
  right: 30px;
  left: 30px;
  text-align: center;
}

.sidebar > ul > li {
  font-size: 1.1rem;
}

.inbox > li::before {
  margin-right: 10px;
  font-family: 'Material Icons';
  content: '\e156';
}

.inbox > li:last-child::before {
  margin-right: 10px;
  font-family: 'Material Icons';
  content: '\e878';
}

.projects > li::before {
  margin-right: 10px;
  font-family: 'Material Icons';
  content: '\e2c7';
}

.projects > li {
  display: flex;
  margin: 0px;
  font-size: 1rem;
  margin-bottom: 10px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.projects > li > span {
  position: absolute;
  right: 30px;
}

.counter {
  font-size: 1rem;
  color: white;
  margin-left: 20px;
  border-radius: 15px;
  padding: 5px 15px;
  background-color: var(--main-color);
}

.header {
  gap: 10px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}
.header > h1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.pending {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 500px));
  gap: 15px;
  width: 100%;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-size: 1rem;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  font-size: 1.5rem;
  margin: 0px 5%;
}

.task > p {
  font-size: 0.9rem;
  font-weight: bold;
}

.task > div {
  display: flex;
  align-items: center;
}

.task > img {
  height: 20px;
  position: absolute;
  right: 20px;
  opacity: 0;
  transition: opacity 0.3s;
}
.task:hover > img {
  transition: opacity 0.3s;
  opacity: 1;
}

.page {
  display: flex;
  align-items: center;
  gap: 10px;
}

.add-task > input {
  outline: none;
  border: none;
  background-color: white;
  height: 50px;
  width: 100%;
  padding: 10px;
  border-radius: 15px;
}

.add-task {
  display: flex;
  justify-content: center;
  gap: 20px;
  position: absolute;
  bottom: 0;
  align-self: center;
  width: 100%;
}

.add-task > button {
  border: none;
  border-radius: 15px;
  color: white;
  box-sizing: border-box;
  padding: 20px;
  background-color: var(--main-color);
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 30px;
}
#createInput {
  outline: none;
  border: none;
  background-color: whitesmoke;
  height: 20px;
  width: 90%;
  padding: 10px;
  border-radius: 15px;
}

#createButton {
  align-self: center;
  margin: 10px 0px;
  border: none;
  border-radius: 25px;
  color: white;
  box-sizing: border-box;
  padding: 15px;
  width: 80%;
  background-color: var(--main-color);
}

#createProject,
#deleteProject {
  border: none;
  border-radius: 25px;
  color: white;
  box-sizing: border-box;
  padding: 15px;
  background-color: var(--main-color);
  width: 95%;
}
.completed > h1 {
  display: flex;
  align-items: center;
}

.options {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.task-popup {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 400px;
  height: 400px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 20%;
  background-color: white;
  border-radius: 30px;
}

form {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-between;
  width: 90%;
  height: 100%;
}

input {
  font-family: 'Poppins', sans-serif;
}

input[type='date']:required:invalid::-webkit-datetime-edit {
  color: transparent;
  font-family: 'Poppins', sans-serif;
}

input[type='date']:focus::-webkit-datetime-edit {
  color: black !important;
}

form > div > label {
  font-weight: bold;
  padding: 0;
  margin: 0;
}

form > div > input {
  border: none;
  outline: none;
  border-radius: 25px;
  background-color: whitesmoke;
  padding: 15px;
}

form > div {
  display: flex;
  flex-direction: column;
}

form > h1 {
  color: #6665dd;
}

.form-buttons {
  display: flex;
  gap: 20px;
  flex-direction: row;
  margin-bottom: 20px;
}

form > div > button {
  border: none;
  width: 50%;
  border-radius: 15px;
  color: white;
  box-sizing: border-box;
  padding: 20px;
  background-color: var(--main-color);
}
